.container
{
    margin: 0 auto;
    text-align: center;
}

header
{
	position: fixed;
	height:70px;
	width:100%;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
}

nav
{
	font-family: 'Quicksand', sans-serif;
	float: right;
	text-decoration: none;
	line-height: 45px;
	list-style-type: none;
    margin: 0;
    padding: 5px;
}

nav li 
{
	padding: 8px 12px;
	display: inline;
	color="white";
	text-decoration: none;
}

nav :nth-child(6)
{
	background-color: #a2c73c;
	border-radius: 30px; 
	text-decoration: none;
	margin-right: 210px;
}

#banner
{
	width=1170px;
	height: 700px;
	background-image: url(../Images/banner-img.png);
	background-size: cover;
}

#bannerimg
{
	height: 190px;
	width: 200px;
}

#bannertitle
{
	padding-top: 60px;
	font-family: 'Quicksand', sans-serif;
	font-size: 50px;
	height: 80px;
	color:white;
}

#bannerlogo
{
	padding-left: 250px;
	padding-top: 20px;
	width:70px;
	height:80px;
}

#bannerimg
{
	padding-top:170px;
	padding-left: 15px;
	width=200px;
	height:150px;
}

#bannerbutton
{
	margin-top: 40px;
	font-family: 'Quicksand', sans-serif;
	width:400px;
	height: 40px;
	background-color: #a2c73c;
	color:white;
	border: none;
	border-radius: 30px; 
}

.square
{	
	text-align: center;
	float: left;
  	height: 265px;
	width: 265px;
}

#gridContainer
{
	padding: 110px;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
    width: 795px;
	height: 795px;
}

#gridContainer .square:nth-child(1)
{
	background-color: #a2c73c;
}

#b1
{
	background-color: #a2c73c;
}

#gridContainer .square:nth-child(3)
{
	background-color: #075daa;
}

#b2
{
	margin-top: 40px;
	background-color: #075daa;
	color:black;
	border: none;
}

#gridContainer .square:nth-child(7)
{
	background-color: #4494d1;
}

#b3
{
	margin-top: 112px;
	background-color: #4494d1;
	color:black;
	border: none;
}

#gridContainer .square:nth-child(9)
{
	background-color: #0eb049;
}

#b4
{
	background-color: #0eb049;
	color:black;
	border: none;
}

#normalContainer
{
	margin: 0 auto;
    text-align: center;
	width:900px;
	height: 540px;
}

#wel
{
	background-color: #0072bc;
}

#first
{
	padding: 10px;
}

.Discover
{
	color:black;
	border: none;
	margin-bottom: 0;
}

#t
{
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	color: white;
	padding-top: 95px;
}

#t2
{	
	padding-top: 60px;
	margin: 0 auto;
    text-align: center;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

#grid2
{
	padding-top: 80px;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	width: 1050px;
	height: 860px;
}

.shape
{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	float: left;
	width: 345px;
	height: 430px;
}

#bb
{
	margin-top: 40px;
	width: 262px;
	height: 50px;
	color: #4494d1;
	border-color: #a2c73c;
	border-radius: 30px;
	border-style: solid;
}

#padding
{
	padding: 20px;
}

#grid2 .shape:nth-child(4)
{
	padding-top: 20px;
	padding-left: 30px;
	width: 460px;
}

#grid2 .shape:nth-child(5)
{
	padding-top: 20px;
	padding-left: 30px;
	width: 460px;
}

footer
{
	height:360px;
	width:100%;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
}

#fot
{
	
	margin: 0 auto;
    text-align: center;
	width: 1000px;
	height: 360px;
}
